@charset "utf-8";
/* CSS Document */
.navItem {
  float: right;
}
.navLink {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 28px;
}
#navDiv {
  position: fixed;
  top: 0;
  right: 0;
  display: table;
  background-color: #202020;
  width: 100%;
}
#navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  float: right;
  margin-right: 50px;
}
.navLink:hover {
  background-color: black;
}
ul #logo {
  font-size: 29px;
  position: fixed;
  left: 0;
  top: 0;
  margin-left: 25px;
  margin-top: 11px;
  color: antiquewhite;
  font-weight: bold;
  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
.prices {
  float: left;
  text-decoration: none;
	list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-top: 300px;
}
.header {
  background-color: #111;
  color: white;
  font-size: 25px;
}
.priceItem{
	border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
	list-style-type: none;
}